figure {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    box-shadow: 0 2px 20px gray;
    border-radius: 0.2rem;
    transition: transform 200ms ease-in;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

figcaption {
    /* position: absolute; */
    bottom: 0%;
    width: 100%;
    /* opacity: 0.7; */
}

.title {
    font-weight: bold;
    font-size: 1.1rem;
    color: #d50000;
    text-transform: capitalize;
    margin: 0;
}

.btn {
    cursor: pointer;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #d50000;
    background: transparent;
    color: #d50000;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
}

figure:hover {
    transform: scale(1.02);
}

.btn:hover {
    background: #d50000;
    color: white;
}

strong {
    /* margin: 1rem; */
}
.ingredients {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 0.4rem;
}